/* Botão novos animados */
.botao-novo {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffffff,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  .saiba-mais-botao{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .botao-novo:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .botao-novo:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffffff,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .botao-novo:hover::before {
    filter: blur(20px);
  }
  
  .botao-novo:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffffff,#03a9f4);
  }
/* Botão novos animados final*/

/* Botão do github */
/* === removing default button style ===*/
.button-git {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button-git {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #48bfe3;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-git:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
/* Botão do github */

/* Nome glitch*/

.aaaa{
  text-align: center;
  background-color: green;
}


  .glitch {
    position: relative;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;
  }
  
  .glitch:before,
  .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  
  .glitch:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #8b00ff;
    z-index: -1;
  }
  
  .glitch:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #00e571;
    z-index: -2;
  }
  .gabriel-mobile{
    display: none !important;
  }
  



/* Card dos certificados */

.card__content{
  background-color: #101728 !important;
}

  .card {
    position: relative;
    width: 100px;
    height: 200px;
    background-color: #101728;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    /* box-shadow: 0 0 0 5px #ffffff80; */
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  



















  @keyframes glitch {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(-3px, 3px);
    }
  
    40% {
      transform: translate(-3px, -3px);
    }
  
    60% {
      transform: translate(3px, 3px);
    }
  
    80% {
      transform: translate(3px, -3px);
    }
  
    to {
      transform: translate(0);
    }
  }
  
  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }
  
    41% {
      transform: skewX(10deg);
    }
  
    42% {
      transform: skewX(-10deg);
    }
  
    59% {
      transform: skewX(40deg) skewY(10deg);
    }
  
    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }
  
    63% {
      transform: skewX(10deg) skewY(-5deg);
    }
  
    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }
  
    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }
/* Nome glitch final */


@media only screen and (max-width: 576px){
  .gabriel{
   display: none !important;
  }

  .gabriel-mobile{
    display: flex !important;
  }
}
  















/* Card dos certificados inicio */
.card__content a{
  text-decoration: none !important;
  color: none !important;
  border: none !important;
}

.button-certificado {
  display: inline-block;
  padding: 10px 32px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.button-certificado:before,
.button-certificado:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.button-certificado:before {
  left: -100%;
  background: linear-gradient(90deg, rgba(0, 136, 255, 0.8), rgba(255, 0, 170, 0.8), rgba(0, 136, 255, 0.8));
  z-index: -1;
}

.button-certificado:hover:before {
  left: 0;
}

.button-certificado:after {
  right: -100%;
  background: linear-gradient(270deg, rgba(0, 136, 255, 0.8), rgba(255, 0, 170, 0.8), rgba(0, 136, 255, 0.8));
  z-index: -1;
}

.button-certificado:hover:after {
  right: 0;
}

.button-certificado:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-certificado:active {
  transform: translateY(1px);
  box-shadow: none;
}

/* Card dos certificados final */















/* Titulos importantes no sitema inicio*/

/* === removing default button style ===*/
.button1 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button1 {
  --border-right: 6px;
  --text-stroke-color: rgba(0, 136, 255, 0.6);
  --animation-color: #8b00ff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 50px;
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  cursor: pointer;
}
/* this is the text, when you hover on button */
.hover-text1 {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button1:hover .hover-text1 {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
/* Titulos importantes no sitema Final*/



/* Card sobre mim  inicio*/

.cardteste {
  overflow: visible;
  width: 99%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #48bfe3, #8b00ff, #48bfe3, #8b00ff, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cardteste:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 14px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #48bfe3;
  width: 100%;
  padding: 10px;
  background-color: #00000055;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 18px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 80%;
}


.card-footerteste {
  color: #8412fb;
  margin-top: 5px;
  font-size: 12px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #8412fb;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #8412fb;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #8412fb;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.back-content img{
  width: 300px;
}
/* Card sobre mim final */













/* botão sobre social inicio*/


.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: #101728;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 2px;
}

.social-btn:hover {
  width: 190px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 100px;
}


#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: white;
}
/* botão sobre social Final*/
