:root{
    --principal: #101728;
    --titulos: #48bfe3;
    --branco: #ffffff;
}
.cor_de_fundo{
    background-color: var(--principal) !important;
}
.titulo h1{
    font-size: 45px;
    text-align: center;
}

a{
    text-decoration: none;
}

nav a{
    color: var(--titulos) !important;
}

nav a:hover{
    color: white !important;
}

.custom-menu {
    height: calc(100vh - 57px);
  }

.nome-area{
    color: var(--branco);
}

.cor1{
    background-color: red;
    height: 100;
}
/* .gradiente{
    background: rgb(116,0,184);
background: radial-gradient(circle, rgba(116,0,184,1) 39%, rgba(38,14,105,1) 54%, rgba(31,65,187,0.9528186274509804) 75%);
} */

#Custom-photo{
    width: 400px;
    height: 350px;
    
}
.imagem-arredondada img {
    overflow: hidden; /* Garante que a imagem fique dentro do contêiner arredondado */
    border-radius: 20px; /* Define o raio de arredondamento para os cantos da imagem */
}

.botao-arredondado {
    padding: 11px 40px; /* Adicione padding para melhor aparência */
    border: none; /* Remova a borda padrão do botão */
    border-radius: 20px; /* Define o raio de arredondamento das bordas */
    color: black; /* Cor do texto do botão */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor quando passa o mouse sobre o botão */

    background: rgb(128,255,219);
    background: linear-gradient(98deg, rgba(128,255,219,0.6) 0%, rgba(116,0,184,0.5998774509803921) 100%);
}
  
.titulo-sobre-mim{
    margin-bottom: 20px;
}

.escrita{
    color:var(--branco);
}

#skill{
    margin: 50px;
}

.imagens-skill i{
    margin: 40px;
}

.imagens-skill i:hover{
    cursor: pointer;
}

.fa-html5:hover{
    color: #e95934;
}

.fa-css3-alt:hover{
    color: #1672ad;
}

.fa-js:hover{
    color: #db9a45;
}

.fa-bootstrap:hover{
    color: #8412fb;
}

.fa-git-alt:hover{
    color: #f05033;
}

.fa-database:hover{
    color: #1787ad;
}

.fa-linux:hover{
    color: #000000;
}

.fa-windows:hover{
    color: #00adef;
}

.fa-terminal:hover{
    color: #2bff00;
}

#peojetos{
    height: 1545px;
}

.projeto1,.projeto2, .projeto3{
    height: 500px;
}

.git-projetos{
    height: 600px;
}
.para-mais-proj{
    height: 150px;
}
footer{
  
    height: 300px;
}


.logo-rodape a{
    color: var(--titulos) !important;
    font-size: 45px;

}

.logo-rodapea:hover{
    color: var(--branco) !important;
}

.fale-comigo{
    color: var(--titulos);
}
.telefone, .endereco, .contato-email a{
    color: var(--branco);
}
.email{
    margin-top: 5px;
}

.fale-comigo , .telefone, .endereco, .contato-email{
    margin: 15px;
}


.fa-linkedin, .fa-github, .fa-instagram{
    margin: 20px;
    color: var(--branco);
}

.fa-linkedin:hover{
    color: #0a66c2;
}

.fa-github:hover{
    color: #6b698e;
}

.fa-instagram:hover{
    color: #a741a4;
}